@keyframes jump {
    0% {
        margin-bottom: 0; 
        animation-timing-function: ease-out;
    }

    50% {
        margin-bottom: 100px;
        animation-timing-function: ease-in;
    }

    100% {
        margin-bottom: 0;
    }
}

@keyframes win {
    0% {
        margin-bottom: 0; 
        animation-timing-function: cubic-bezier(0.3, 0, 0.58, 1);
    }

    55% {
        margin-bottom: 60px;
        animation-timing-function: cubic-bezier(0.52, 0, 0.7, 1);
    }

    100% {
        margin-bottom: 0;
    }
}

@keyframes jump-anim {
    0% {
        background-position: -74px -350px; /* -37px -175px; */
    }

    55% {
        background-position: -212px -360px; /* -106px -180px; */
    }
}

@keyframes walk-anim {
    0% {
        background-position-x: -6px; /* -3px */
    }

    9.09% {
        background-position-x: -80px; /* -40px */
    }

    18.18% {
        background-position-x: -154px; /* -77px */
    }

    27.27% {
        background-position-x: -228px; /* -114px */
    }

    36.36% {
        background-position-x: -302px; /* -151px */
    }

    45.45% {
        background-position-x: -376px;
    }

    54.54% {
        background-position-x: -450px;
    }

    63.63% {
        background-position-x: -524px;
    }

    72.72% {
        background-position-x: -598px;
    }

    81.81% {
        background-position-x: -672px;
    }

    90.9% {
        background-position-x: -746px;
    }
}

@keyframes run-anim {
    0% {
        background-position-x: -1052px; /* -526px */
    }

    25% {
        background-position-x: -1134px; /* -566px */
    }

    50% {
        background-position-x: -1216px;
    }

    75% {
        background-position-x: -1298px;
    }
}

@keyframes win-anim {
    0% {
        background-position: -464px -1080px; /* -232px -540px */
    }

    10% {
        background-position: 0px -1080px;
    }

    15% {
        background-position: -62px -1084px; /* -31px -542px */
    }

    25% {
        background-position: -124px -1086px; /* -62px -543px */
    }

    40% {
        background-position: -186px -1092px; /* -93px -546px */
    }

    60% {
        background-position: -248px -1094px; /* -124px -547px */
    }

    85% {
        background-position: -316px -1080px; /* -158px -540px */
    }

    92% {
        background-position: -390px -1080px; /* -195px -540px */
    }
}
